*{
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
}
.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;
}
ul{
    position: relative;
    float: right;   /* chuyen dong qua phai khi dua chuot vao */
    margin-right: 20px;
   
}
ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.form_deg{
    padding-top: 8px;
    
    
    
}
.label_deg{
    display: inline-block;
    color: #333;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-right: 180px;
    
}

.login_form{
    background-color: rgb(232, 220, 202);
    width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
}
.login_form h2{
    color: black;
}
input[type="text"], input[type="password"] {
    background-color: rgb(232, 220, 202);
    border: none;
    border-bottom: 2px solid #007bff;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #0056b3;
    background-color: rgb(232, 220, 202);
}
.div {
    position: relative;
}

.div i {
    position: absolute;
    top: 48%;  
    left: 23%;
    transform: translateY(-50%); 
    color: #0056b3;
}
.forgot_pass{
    padding-left: 80px;
    color: rgb(93, 90, 90);
}

input[type="submit"] {
    font-size: 13px;
    margin-top:10px ;
    width: 180px;
    border-radius: 18px;
}
.title_deg{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    font-size: 20px;
    border-radius: 5px;
}
